*,
body {
  font-family: "Scada", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #D9D9D9;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 50em) {
  body {
    flex-direction: column;
  }
}

.btn {
  font-size: 1.1em;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 700;
  transition: 350ms ease;
}
@media (hover: hover) {
  .btn:hover {
    transform: scale(1.05);
  }
}
.btn--success {
  background-color: #68cc68;
  color: #566683;
}
.btn--danger {
  background-color: #ff4b4b;
  color: #FFF;
}
.btn--submit {
  background-color: #566683;
  color: #FFF;
}

.txt--center {
  text-align: center;
}

.sideheader {
  background-color: #393E51;
  height: 100vh;
  padding: 1.5rem 0;
  box-sizing: border-box;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow-y: hidden;
  transition: width 1 ease;
}
@media screen and (max-width: 50em) {
  .sideheader {
    width: 100%;
    flex-direction: row;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    justify-self: start;
    height: auto;
    gap: 1rem;
  }
}
@media (hover: hover) {
  .sideheader:hover .sideheader__dinamic {
    font-size: 1rem;
    filter: opacity(1);
    transition: 300ms ease-in;
    padding-right: 1.5rem;
  }
}
@media screen and (hover: hover) and (max-width: 50em) {
  .sideheader:hover .sideheader__dinamic {
    font-size: 0.8;
    padding-right: 0;
  }
}
.sideheader__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #D9D9D9;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 350ms ease;
}
@media (hover: hover) {
  .sideheader__title:hover {
    transform: scale(1.05);
  }
}
.sideheader__nav {
  width: 100%;
  box-sizing: border-box;
  align-self: flex-start;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
  padding-left: 1.5rem;
}
@media screen and (max-width: 50em) {
  .sideheader__nav {
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
  }
}
.sideheader__link {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 2rem;
  color: #D9D9D9;
  font-size: 1.1rem;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 1rem 0 0 1rem;
  transition: 300ms ease-out;
}
@media screen and (max-width: 50em) {
  .sideheader__link {
    background-color: transparent;
    gap: 1rem;
  }
}
@media (hover: hover) {
  .sideheader__link:hover {
    background-color: #CA6144;
  }
}
@media screen and (hover: hover) and (max-width: 50em) {
  .sideheader__link:hover {
    background-color: transparent;
    color: #CA6144;
  }
}
.sideheader__link--active {
  background-color: #D9D9D9;
  color: #292727;
}
@media screen and (max-width: 50em) {
  .sideheader__link--active {
    background-color: transparent;
    color: #CA6144;
  }
}
.sideheader__dinamic {
  font-size: 0;
  filter: opacity(0);
  transition: 300ms ease-out;
}
@media screen and (max-width: 50em) {
  .sideheader__dinamic {
    font-size: 0.8rem;
    filter: opacity(1);
  }
}
.sideheader__footer {
  padding: 1rem 2rem;
  color: #FFF;
}
.sideheader__footer a {
  color: #CA6144;
  font-size: inherit;
  font-weight: 900;
}
@media screen and (max-width: 50em) {
  .sideheader__footer {
    display: none;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.article {
  background-color: #FFF;
  box-sizing: border-box;
  width: 80%;
  max-height: 80vh;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  padding: clamp(0.2rem, 2vw, 5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(1rem, 2vw, 4rem);
  overflow: hidden;
}
@media screen and (max-width: 50em) {
  .article {
    width: 90%;
  }
}
.article__titulos {
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-weight: 700;
  color: #CA6144;
  text-align: center;
}
.article__main {
  box-sizing: border-box;
  width: 100%;
  max-height: 50rem;
  overflow-y: scroll;
}

.tabla {
  box-sizing: border-box;
  width: 100%;
}
.tabla__header {
  background-color: #566683;
  color: #FFF;
  padding: 1rem;
}
.tabla__th {
  padding: 1rem;
  text-align: left;
}
.tabla__th:first-child {
  border-top-left-radius: 0.8rem;
}
.tabla__th:last-child {
  border-top-right-radius: 0.8rem;
}
.tabla__td {
  padding: 1rem;
}
.tabla__status {
  font-size: inherit;
}

.form {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  padding: 2rem;
}
.form__input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.form__input {
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=style.css.map */