// variables
$color-main: #393E51;
$color-secundary: #566683;
$color-third: #CA6144;
$color-fourth: #E9E6C9;
$color-white: #FFF;
$color-whitebg: #D9D9D9;
$color-black: #292727;
$color--success: #68cc68;
$color--danger: #ff4b4b;
//MIXIN

@mixin containerFlex($direction: column, $alignItem: center, $justifyContent: center, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItem;
    gap: $gap;
}

@mixin hover {
    @media (hover:hover) {
        @content;
    }
}


*,
body {
    font-family: "Scada", sans-serif;
}

a {
    text-decoration: none;

}

body {
    background-color: $color-whitebg;
    display: flex;
}
.btn {
    font-size: 1.1em;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 700;
    transition: 350ms ease;

    @include hover(){
        &:hover{
            transform: scale(1.05);
        }
    }

    &--success {
        background-color: $color--success;
        color: $color-secundary;
    }
    &--danger {
        background-color: $color--danger;
        color: $color-white;
    }
}
.txt{
    &--center{
        text-align: center;
    }
}
.sideheader {
    background-color: $color-main;
    // width: 100vw;
    height: 100vh;
    padding: 1.5rem 0;
    box-sizing: border-box;
    border-radius: 0 0.5rem 0.5rem 0;
    @include containerFlex(column, center, center, 4rem);
    overflow-y: hidden;
    transition: width 1 ease;

    @include hover() {
        &:hover {
            .sideheader__dinamic {
                font-size: 1.1rem;
                filter: opacity(1);
                transition: 300ms ease-in;
                padding-right: 1.5rem;

            }
        }
    }

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-whitebg;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 350ms ease;

        @include hover() {
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__nav {
        width: 100%;
        box-sizing: border-box;
        align-self: flex-start;
        flex: 2;
        @include containerFlex(column, flex-start, flex-start, 4rem);
        padding-left: 1.5rem;

    }

    &__link {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 0rem 1rem 2rem;
        color: #D9D9D9;
        font-size: 1.1rem;
        display: flex;
        @include containerFlex(row, flex-start, flex-start, 2rem);
        border-radius: 1rem 0 0 1rem;
        transition: 300ms ease-out;

        @include hover() {
            &:hover {
                background-color: #CA6144;
            }
        }

        &--active {
            background-color: $color-whitebg;
            color: $color-black;
        }
    }

    &__dinamic {
        font-size: 0;
        filter: opacity(0);
        // color: transparent;
        transition: 300ms ease-out;
    }

    &__footer {
        padding: 1rem 2rem;
        color: $color-white;

        a {
            color: #CA6144;
            font-size: inherit;
            font-weight: 900;
        }
    }



}

.main {
    flex: 1;
    @include containerFlex(column, center, center, 2rem);

}

.article {
    background-color: $color-white;
    box-sizing: border-box;
    width: 80%;
    height: 80vh;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    padding: clamp(1rem, 2vw, 5rem);
    @include containerFlex(column, flex-start, flex-start, clamp(1rem, 2vw, 3rem));

    &__titulos {
        width: 100%;
        font-size: clamp(1.5rem, 2vw, 2rem);
        font-weight: 700;
        color: #CA6144;
        text-align: center;
    }

    &__main {
        width: 100%;
        flex: 1;
        overflow-x: scroll;
    }
}

.tabla {
    width: 100%;
    overflow-y: scroll;

    &__header {
        background-color: $color-secundary;
        color: $color-white;
        padding: 1rem;
    }

    &__th {
        padding: 1rem;
        text-align: left;
        &:first-child {
            border-top-left-radius: 0.8rem;
        }

        &:last-child {
            border-top-right-radius: 0.8rem;
        }
    }

    &__td{
        padding: 1rem;
    }
    &__status{
        font-size: inherit;
    }
}
