// variables
$color-main: #393E51;
$color-secundary: #566683;
$color-third: #CA6144;
$color-fourth: #E9E6C9;
$color-white: #FFF;
$color-whitebg: #D9D9D9;
$color-black: #292727;
$color--success: #68cc68;
$color--danger: #ff4b4b;
$screen--mobile: 50em;
//screen

@mixin containerFlex($direction: column, $alignItem: center, $justifyContent: center, $gap: 1rem) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItem;
    gap: $gap;
}

@mixin hover {
    @media (hover:hover) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $screen--mobile) {
        @content;
    }
}

*,
body {
    font-family: "Scada", sans-serif;
}

a {
    text-decoration: none;

}

body {
    background-color: $color-whitebg;
    height: 100%;
    display: flex;
    align-items: center;

    @include mobile() {
        flex-direction: column;
    }
}

.btn {
    font-size: 1.1em;
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 700;
    transition: 350ms ease;

    @include hover() {
        &:hover {
            transform: scale(1.05);
        }
    }

    &--success {
        background-color: $color--success;
        color: $color-secundary;
    }

    &--danger {
        background-color: $color--danger;
        color: $color-white;
    }

    &--submit {
        background-color: $color-secundary;
        color: $color-white;
    }
}

.txt {
    &--center {
        text-align: center;
    }
}

.sideheader {
    background-color: $color-main;
    // width: 100vw;
    height: 100vh;
    padding: 1.5rem 0;
    box-sizing: border-box;
    border-radius: 0 0.5rem 0.5rem 0;
    @include containerFlex(column, center, center, 4rem);
    overflow-y: hidden;
    transition: width 1 ease;

    @include mobile() {
        width: 100%;
        flex-direction: row;
        padding: 1rem;
        border-radius: 0 0 0.5rem 0.5rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        justify-self: start;
        height: auto;
        gap: 1rem;
    }

    @include hover() {
        &:hover {
            .sideheader__dinamic {
                font-size: 1rem;
                filter: opacity(1);
                transition: 300ms ease-in;
                padding-right: 1.5rem;

                @include mobile() {
                    font-size: 0.8;
                    padding-right: 0;
                }

            }
        }
    }

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-whitebg;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: 350ms ease;

        @include hover() {
            &:hover {
                transform: scale(1.05);
            }
        }

        // @include mobile() {
        //     color: $color-main;
        // }
    }

    &__nav {
        width: 100%;
        box-sizing: border-box;
        align-self: flex-start;
        flex: 2;
        @include containerFlex(column, flex-start, flex-start, 4rem);
        padding-left: 1.5rem;

        @include mobile() {
            flex-direction: row;
            align-items: center;
            height: 100%;
            gap: 0.5rem;

        }

    }

    &__link {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem 0rem 1rem 2rem;
        color: #D9D9D9;
        font-size: 1.1rem;
        display: flex;
        @include containerFlex(row, flex-start, flex-start, 2rem);
        border-radius: 1rem 0 0 1rem;
        transition: 300ms ease-out;

        @include mobile() {
            background-color: transparent;
            gap: 1rem;
        }

        @include hover() {
            &:hover {
                background-color: #CA6144;

                @include mobile() {
                    background-color: transparent;
                    color: $color-third;
                }
            }

        }

        &--active {
            background-color: $color-whitebg;
            color: $color-black;

            @include mobile() {
                background-color: transparent;
                color: $color-third;
            }
        }
    }

    &__dinamic {
        font-size: 0;
        filter: opacity(0);
        // color: transparent;
        transition: 300ms ease-out;

        @include mobile() {
            font-size: 0.8rem;
            filter: opacity(1);
        }
    }

    &__footer {
        padding: 1rem 2rem;
        color: $color-white;

        a {
            color: #CA6144;
            font-size: inherit;
            font-weight: 900;
        }

        @include mobile() {
            display: none;
        }
    }



}

.main {
    
    width: 100%;
    @include containerFlex(column, center, center, 2rem);
}

.article {
    background-color: $color-white;
    box-sizing: border-box;
    width: 80%;
    max-height: 80vh;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
    padding: clamp(0.2rem, 2vw, 5rem);

    @include containerFlex(column, center, flex-start, clamp(1rem, 2vw, 4rem));
    overflow: hidden;
    @include mobile() {
        width: 90%;
        }
    &__titulos {
        font-size: clamp(1.5rem, 2vw, 3rem);
        font-weight: 700;
        color: $color-third;
        text-align: center;
    }

    &__main {
        box-sizing: border-box;
        width: 100%;
        // @include containerFlex(); //Me estaba causando mas problemas que ayudar
        max-height: 50rem;
        overflow-y: scroll;
    }
}

.tabla {
    box-sizing: border-box;
    // max-height: 5rem;
    width: 100%;
    // overflow: scroll;

    &__header {
        background-color: $color-secundary;
        color: $color-white;
        padding: 1rem;
    }

    &__th {
        padding: 1rem;
        text-align: left;

        &:first-child {
            border-top-left-radius: 0.8rem;
        }

        &:last-child {
            border-top-right-radius: 0.8rem;
        }
    }

    &__td {
        padding: 1rem;
    }

    &__status {
        font-size: inherit;
    }
}

.form {
    width: 100%;
    box-sizing: border-box;
    @include containerFlex(column, center, space-evenly, 0);
    padding: 2rem;

    &__input-container {
        width: 100%;
        @include containerFlex(row);
        padding: 2rem;
    }

    &__input {
        flex: 1;
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    }
}